[submodule "common"]
	path = common
	url = https://github.com/galois-advertising/common
	branch = master
[submodule "gpendingpool"]
	path = gpendingpool
	url = https://github.com/galois-advertising/gpendingpool
	branch = master
[submodule "ghead"]
	path = ghead
	url = https://github.com/galois-advertising/ghead
	branch = master
[submodule "gformat"]
	path = gformat
	url = https://github.com/galois-advertising/gformat
	branch = master
